/* Estilos para la página de login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    animation: fadeInUp 0.6s ease-out;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  
  .login-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .logo-wrapper {
    background-color: rgb(187, 188, 238);       /* Fondo blanco o el que quieras */
    border-radius: 50%;            /* Hace el círculo */
    padding: 10px;                 /* Espaciado interno */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .input-field:focus {
    border-color: #4ca1af;
    outline: none;
  }

  .login-button {
    width: 100%;
    padding: 10px;
    background: #4ca1af;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #2c3e50;
  }

  .login-button:hover {
    background: #357d92;
  }

  .login-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .login-tabs {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  
  .login-tabs button {
    padding: 10px 20px;
    border: none;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .login-tabs button.active {
    background-color:rgb(37, 133, 53);
    color: white;
  }
  
  .login-box.employee-mode {
    background-color: #f0f0f0;
  }
  
  .login-box.admin-mode {
    background-color:rgb(166, 187, 204); /* celeste claro */
  }

  .tab-content {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }
  
  .tab-content.show {
    opacity: 1;
  }